html {
    background-color: black;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

div {
    background-color: yellow;
    border: 1px solid black;
    display: inline-block;
    width: 250px;
    height: 100px;
    margin: 20px;
    box-sizing: border-box;
}

.hi {
    text-align: center;
    margin: 2.5em auto;
}